h1{
    text-align: center;
    font-size:60px;
}

p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 100px;
}

body{
    margin: 0%;
}

.test{
    width: 100%;
    height: 500px;
}

/* classを指定するときは.から始める */